svg {
    width: 100%;
    height: auto
}

.wrapper a {
    cursor: pointer
}

.wrapper {
    line-height: 1
}

.wrapper a {
    text-decoration: none
}

.wrapper img {
    max-width: 100%;
    vertical-align: top
}

.wrapper svg {
    overflow: visible
}

.wrapper ul {
    list-style: none
}

.wrapper {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em
}

.wrapper a {
    font-size: 18px;
    color: #1663c7
}

.hidden {
    display: none !important
}

.container123:after {
    display: table;
    clear: both
}

.container123:after {
    content: ''
}

.container123 {
    max-width: 1680px;
    margin-right: auto;
    margin-left: auto;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 768px) {

    .flex {
        flex-direction: column;
    }
}

.button {
    font-weight: 700
}

.button {
    display: inline-block
}

.button {
    width: auto;
    height: auto;
    background: 0 0;
    font-size: 14px;
    line-height: 1em;
    text-align: center;
    word-break: keep-all;
    white-space: nowrap;
    border: 2px solid transparent;
    padding: 11px 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color .3s ease, color .3s ease, border-color .3s ease, opacity .3s ease;
    -moz-transition: background-color .3s ease, color .3s ease, border-color .3s ease, opacity .3s ease;
    -o-transition: background-color .3s ease, color .3s ease, border-color .3s ease, opacity .3s ease;
    transition: background-color .3s ease, color .3s ease, border-color .3s ease, opacity .3s ease
}

.button--muted {
    color: #868e96;
    border-color: #868e96
}

.button--muted:hover {
    background-color: #868e96;
    color: #fff;
    border-color: #868e96
}

.button--muted:active {
    background-color: #adb5bd;
    color: #fff;
    border-color: #adb5bd
}

.button--primary {
    color: #1663c7;
    border-color: #1663c7
}

.button--primary:hover {
    background-color: #1663c7;
    color: #fff;
    border-color: #1663c7
}

.button--primary:active {
    background-color: #6689AE;
    color: #fff;
    border-color: #6689AE
}

.button--primary.button--inverted {
    background-color: #1663c7;
    color: #fff;
    border-color: #1663c7
}

.button--primary.button--inverted:hover {
    background-color: transparent;
    color: #1663c7;
    border-color: #1663c7
}

@media (max-width: 640px) {

    .button {
        font-size: 14px;
        padding: 11px 10px
    }
}

.footer-content {
    background: #f5fafe;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0)
}

.footer__section {
    text-align: center
}

.footer__section:first-child {
    float: left;
}

.footer__section:after {
    content: '';
    display: table;
    clear: both
}

@media (max-width: 1080px) {
    .footer__section {
        float: none
    }

    .footer__section:first-child {
        display: flex;
        justify-content: center;
        float: none;
        margin-bottom: 10px
    }
}

@media (max-width: 900px) {
    .footer {
        height: auto
    }

    .footer-content {
        position: relative;
        z-index: auto
    }
}

.footer__logo {
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.footer__logo-link {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px
}

.footer__logo-image {
    width: auto;
    max-width: initial;
    height: 60px
}

.footer__buttons {
    display: inline-block
}

.footer__buttons:after {
    content: '';
    display: table;
    clear: both
}

.footer__buttons-item {
    float: left;
    margin-left: 10px
}

.footer__buttons-item:first-child {
    margin-left: 0
}

.footer__button {
    width: 100%
}

.footer__button-icon {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: -6px 5px -6px -10px;
    -webkit-transition: fill .3s ease;
    -moz-transition: fill .3s ease;
    -o-transition: fill .3s ease;
    transition: fill .3s ease
}

.footer__button.button--muted>.footer__button-icon {
    fill: #868e96
}

.footer__button.button:hover>.footer__button-icon {
    fill: #fff
}

.footer__button--callback>.footer__button-icon {
    width: 20px;
    height: 20px;
    margin-top: -5px;
    margin-bottom: -5px
}

@media (max-width: 900px) {
    .footer__buttons {
        float: none;
    }

    .footer__buttons-item {
        width: auto;
        margin-left: 0;
        padding-left: 5px;
        padding-right: 5px
    }
}

@media (max-width: 640px) {
    .footer__buttons-item {
        width: 100%;
        margin-top: 10px
    }

    .footer__buttons-item:first-child {
        margin-top: 0
    }
}

.footer__social {
    display: inline-block;
    margin-left: 25px
}

.footer__social:after {
    content: '';
    display: table;
    clear: both
}

.footer__social-item {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    position: relative
}

.footer__social-item:first-child {
    margin-left: 0
}

.footer__social-item-icon {
    width: 20px;
    height: 20px;
    fill: #1663c7;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
    top: 50%;
    left: 50%;
    -webkit-transition: fill .3s ease;
    -moz-transition: fill .3s ease;
    -o-transition: fill .3s ease;
    transition: fill .3s ease
}

.footer__social-item:hover>.footer__social-item-icon {
    fill: #fff
}

@media (max-width: 1080px) {
    .footer__social {
        float: none;
        text-align: center;
        margin-top: 10px;
        margin-left: 0;
        display: block;
    }

    .footer__social-item {
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-right: 2px;
        margin-left: 2px
    }
}

.footer-top {
    display: block;
    z-index: 1;
    position: relative;
    background-color: #F4F8FF
}

@media (max-width: 1189px) {
    .footer-top {
        bottom: 0;
        margin-top: 0
    }
}

@media (max-width: 1080px) {
    .footer-top {
        bottom: 0;
        margin-top: 0
    }
}

@media (max-width: 900px) {
    .footer-top {
        bottom: 0;
        margin-top: 0
    }
}

nav.container123 {
    border-bottom: #1663c7 1px solid;
    padding: 20px 0
}

.footer__menu {
    font-size: 14px;
    line-height: 1.4em;
    overflow: hidden;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 10px
}

.footer__menu__item {
    display: table-cell;
    position: relative;
    padding: 15px 20px 0
}

.footer__menu-link {
    color: #495057
}

.footer__menu-link:hover {
    color: #15760a;
    border-color: #15760a
}

@media (max-width: 480px) {
    .footer__menu {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 25px
    }
}